{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="flag-trackname-container">
    <div class="flag-container">
        <img src="/static/img/{{ event.track_id }}-flag.png" alt="{{ event.country }} flag">
    </div>
    <div class="track-name-container flex-col-ca-cj">
        <h3>{{ event.track_name }}</h3>
    </div>
</div>
<div class="forecast-options-container flex-row-ca-cj">
    <a href="{% url 'hourly_forecast' event.event_id %}">
        <div class="forecast-option flex-col-ca-cj">Hourly forecast <span>(premium)</span></div>
    </a>
    <a href="{% url 'daily_forecast' event.event_id %}">
        <div class="forecast-option flex-col-ca-cj">Daily forecast</div>
    </a>
</div>
{% endblock %}