{% extends "base.html" %}
{% load static %}

{% block content %}
<h1>This is the homepage</h1>
<div class="hero-img flex-col-ca-cj">
    <div class="calendar-ad flex-col-ca-cj">
        <p>Find the weather info you're looking for by selecting a Formula 1 event in the calendar!</p>
        <a href='/events/'>Calendar</a>
    </div>
    <div class="register-ad flex-col-ca-cj">
        <p>Register now and get premium membership with access to more in-depth hourly weather data!</p>
        <a href='/accounts/signup/'>Register</a>
    </div>
</div>
{% endblock %}