{% extends "base.html" %}
{% load static %}

{% block content %}
<h1 class="homepage-title">Formula 1 weather tracker</h1>
<div class="hero-container flex-row-ca-cj">
    <div class="calendar-ad flex-col-ca-cj">
        <p>Welcome! To look up weather forecasts and event information just browse to the calendar page and click on the
            relevant
            event.</p>
        <a href='/events/'>Calendar</a>
    </div>
    <div class="register-ad flex-col-ca-cj">
        <p>Register now and get premium membership with access to more in-depth hourly weather data!</p>
        <a href='/accounts/signup/'>Register</a>
    </div>
</div>
{% endblock %}