/* --- allauth templates --- */

/* login.html */
.auth-h1 {
  margin: 16px 0px;
}

.auth-p {
  margin-bottom: 16px;
}

.auth-a {
  color: $cRed;
  text-decoration: none;
  font-weight: 300;

  &:hover {
    font-weight: bold;
  }
}

.auth-p , .auth-a {
  font-size: 1.6rem;
}

.auth-form {
  width: 50%;
  padding: 20px;
  margin-top: 16px;
  border: 2px solid $cGray;
  border-radius: 10px;
}

.auth-p-sub {
  margin: 16px 0px;
}

/* Allauth form formatting */

.auth-form p {
  margin-bottom: 12px;
  color: $cYellow; /* text-secondary */
  font-size: 1.8rem;
  font-weight: 800;
}

.auth-form input {
  border: 3px solid $cGray;
  border-radius: 0px;
  padding: 5px;
  width: 100%;
  background-color:#f3f3f3;
}

.auth-form label:not([for="id_remember"]) {
  display: none;
}

.auth-form input::placeholder {
  color: $cYellow;
}

.auth-form button,
.auth-form input[type="submit"] {
  /* btn */
  display: inline-block;
  margin-left: 12px;
  font-weight: 600;
  text-transform: lowercase;
  color: $cYellow;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: $cGray;
  border: 1px solid $cGray;
  padding: 0.5rem 1.5rem;
  font-size: 1.2rem;
  line-height: 1.5;
  border-radius: 10px;
  cursor: pointer;
}

.auth-form button:hover,
.auth-form input[type="submit"]:hover {
  color: $cYellow;
  border-color: $cGray;
  transform: scale(1.05);
}

.auth-form a {
  color: $cRed; /* text-info */
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 300;

  &:hover {
    font-weight: bold;
  }
}