/* --- allauth templates --- */

/* login.html */
.auth-h1 {
  margin: 16px 0px;
}

.auth-p {
  margin-bottom: 16px;
}

.auth-a {
  color: $cRed;
  text-decoration: none;
  font-weight: 300;

  &:hover {
    font-weight: bold;
  }
}

.auth-p , .auth-a {
  font-size: 1.6rem;
  text-align: center;
}

.auth-form {
  width: 50%;
  padding: 20px;
  margin-top: 16px;
  border: 2px solid $cGray;
  border-radius: 10px;
}

.auth-p-sub {
  margin: 16px 0px;
  text-align: center;
}

/* Allauth form formatting */

.auth-form p {
  margin-bottom: 12px;
  color: $cYellow;
  font-size: 1.8rem;
  font-weight: 800;
}

.auth-form input {
  border: 3px solid $cGray;
  border-radius: 0px;
  padding: 5px;
  width: 100%;
  background-color:#f3f3f3;
}

.auth-form label:not([for="id_remember"]) {
  display: none;
}

.auth-form input::placeholder {
  color: $cYellow;
}

.auth-form button,
.auth-form input[type="submit"] {
  display: inline-block;
  margin-left: 12px;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;

  background-color: $cGray;
  color: $cYellow;
  font-family: "Ubuntu", sans-serif;
	padding: 8px;
  border: none;
	border-radius: 5px;
  text-decoration: none;
	text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 500;
}

.auth-form button:hover,
.auth-form input[type="submit"]:hover {
  transform: scale(1.05);
}

.password-reset-btn {
  width: 60px !important;
  font-size: 1.4rem;
}

.auth-form a {
  color: $cRed;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 300;

  &:hover {
    font-weight: bold;
  }
}

/* --- allauth media queries --- */

@media (max-width: 1061px) {
  #already-premium-page-title {
    font-size: 2.4rem;
    text-align: center;
  }
}

@media (max-width: 831px) {
  #already-premium-page-title {
    font-size: 2.2rem;
  }
}

@media (max-width: 769px) {
  .auth-form {
    width: 70%;
    margin-top: 8px;
  }

  .auth-h1 {
    margin: 6px 0px 12px 0px;
    font-size: 2.8rem;
  }

  .auth-form button,
  .auth-form input[type="submit"] {
    padding: 8px;
    font-size: 1.5rem;
  }
}

@media (max-width: 551px) {
  .auth-form {
    width: 80%;
  }

  .auth-form button,
  .auth-form input[type="submit"] {
    font-size: 1.3rem;
  }
}

@media (max-width: 429px) {
  #already-premium-page-title {
    font-size: 1.9rem;
  }
}

@media (max-width: 376px) {
  .auth-h1 {
    margin: 3px 0px 6px 0px;
    font-size: 2.4rem;
  }

  .auth-form {
    width: 95%;
  }
}

@media (max-width: 376px) {
  .auth-form {
    width: 98%;
  }
}