/* --- daily forecast page --- */

.local-time-container {
  margin-top: 16px;
  height: 32px;
  width: 40%;
  background: #e9e9e9cc;
  border-radius: 10px;
  color: $cGray;
  font-family: "Titillium+Web", sans-serif;
  font-size: 2rem;
  font-weight: 700;

  span {
    margin-left: 8px;
    font-size: 1.8rem;
    font-weight: 800;
    font-style: italic;
  }
}

.schedule-container {
  margin-top: 24px;
  width: 50%;
  color: $cGray;
  font-family: "Inter", sans-serif;
  border-radius: 10px;
  overflow: hidden;

  .schedule-title {
    width: 100%;
    height: 100%;
    font-size: 2rem;
    font-weight: 700;
    background: rgb(190, 190, 190);
    padding: 8px;
    border-bottom: 1px solid $cGray;

    span {
      margin-left: 8px;
      font-size: 1.8rem;
      font-weight: 600;
      font-style: italic;
    }
  }

  .schedule-session {
    width: 100%;
    height: 100%;
    padding: 8px;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;

    span {
      margin-right: 8px;
      font-size: 2.2rem;
      font-weight: 700;
    }
  }

  .uneven-session {
    background: #f0f0f0;
  }

  .even-session {
    background: #e1e1e1;
  }
}

.daily-weather-cards-container {
  margin-top: 24px;
  flex-wrap: wrap;

  .daily-weather-card {
    margin: 16px 12px;
    min-width: 130px;
    padding: 8px;
    font-family: "Inter", sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    border-radius: 10px;
    background: $cGray;
    p {
      margin: 6px;
    }

    .daily-date {
      color: $cYellow;
    }

    .daily-mintemp {
      color: $cGreen;
    }

    .daily-maxtemp {
      color: $cRed;
    }

    .daily-precip,
    .daily-rain {
      color: $cBlue;
    }
  }
}

/* --- daily forecast page media queries --- */

@media (max-width: 995px) {
  .schedule-container {
    width: 60%;

    .schedule-title {
      font-size: 1.7rem;

      span {
        font-size: 1.5rem;
      }
    }

    .schedule-session {
      font-size: 1.7rem;

      span {
        font-size: 1.9rem;
      }
    }
  }
}

@media (max-width: 881px) {
  .local-time-container {
    width: 60%;
    font-size: 1.9rem;

    span {
      font-size: 1.7rem;
    }
  }

  .daily-weather-cards-container {
    margin-top: 8px;

    .daily-weather-card {
      margin: 14px 10px;
      min-width: 120px;
      padding: 6px;
      font-size: 1.2rem;

      p {
        margin: 5px;
      }
    }
  }
}

@media (max-width: 591px) {
  .schedule-container {
    width: 70%;

    .schedule-title {
      font-size: 1.5rem;

      span {
        font-size: 1.3rem;
      }
    }

    .schedule-session {
      font-size: 1.5rem;

      span {
        font-size: 1.7rem;
      }
    }
  }

  .daily-weather-cards-container {
    .daily-weather-card {
      margin: 8px;
      min-width: 110px;
      font-size: 1.1rem;

      p {
        margin: 3px;
      }
    }
  }
}

@media (max-width: 477px) {
  .local-time-container {
    width: 70%;
    font-size: 1.8rem;

    span {
      font-size: 1.6rem;
    }
  }
}

@media (max-width: 425px) {
  .schedule-container {
    width: 80%;
    margin-top: 18px;
  }
}

@media (max-width: 391px) {
  .schedule-container {
    .schedule-title {
      font-size: 1.3rem;

      span {
        font-size: 1.1rem;
      }
    }

    .schedule-session {
      padding: 6px;
      font-size: 1.3rem;

      span {
        font-size: 1.5rem;
      }
    }
  }
}

@media (max-width: 341px) {
  .schedule-container {
    width: 90%;

    .schedule-title {
      font-size: 1.2rem;

      span {
        font-size: 1rem;
      }
    }

    .schedule-session {
      padding: 4px;
      font-size: 1.1rem;

      span {
        font-size: 1.3rem;
      }
    }
  }

  .daily-weather-cards-container {
    .daily-weather-card {
      margin: 4px;
      min-width: 90px;
      padding: 4px;
      font-size: 0.9rem;

      p {
        margin: 2px;
      }
    }
  }
}

@media (max-width: 311px) {
  .local-time-container {
    height: 28px;
    width: 76%;
    font-size: 1.4rem;

    span {
      margin-left: 4px;
      font-size: 1.2rem;
    }
  }
}