.local-time-container {
	margin-top: 16px;
  height: 32px;
  width: 40%;
	background: #e9e9e9cc;
  border-radius: 10px;
	color: $cGray;
	font-family: "Titillium+Web", sans-serif;
	font-size: 2rem;
	font-weight: 700;

	span {
		margin-left: 8px;
		font-size: 1.8rem;
		font-weight: 800;
		font-style: italic;
	}
}

.schedule-container {
	margin-top: 24px;
	width: 50%;
	color: $cGray;
	font-family: "Inter", sans-serif;
	border-radius: 10px;
	overflow: hidden;

	.schedule-title {
		width: 100%;
		height: 100%;
		font-size: 2rem;
		font-weight: 700;
		background: rgb(190, 190, 190);
		padding: 8px;
		border-bottom: 1px solid $cGray;

		span {
			margin-left: 8px;
			font-size: 1.8rem;
			font-weight: 600;
			font-style: italic;
		}
	}

	.schedule-session {
		width: 100%;
		height: 100%;
		padding: 8px;
		font-size: 2rem;
		font-weight: 600;
		text-align: center;

		span {
			margin-right: 8px;
			font-size: 2.2rem;
			font-weight: 700;
		}
	}

	.uneven-session {
		background: #f0f0f0;
	}

	.even-session {
		background: #e1e1e1;
	}
}