/* --- footer --- */

#base-footer {
  width: 100%;
  background-color: $cGray;
  color: $cYellow;
  font-size: 2rem;
  min-height: 50px;
  justify-content: center;

  p {
    color: $cYellow;
    font-family: "Ubuntu", sans-serif;
    font-size: 1.8rem;
    font-weight: 300;
  }
}