.register-ad {
  width: 300px;
  height: 140px;
  border: 3px solid $cGray;
  border-radius: 10px;
	padding: 16px;
	background: #52496e;

  p {
    font-size: 1.6rem;
    font-weight: 700;
    color: $cYellow;
		margin-bottom: 16px;
		text-align: justify;
    text-justify: center;
  }

  a {
		background-color: $cGray;
    color: $cYellow;
		padding: 6px;
		border-radius: 5px;
    text-decoration: none;
		text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 400;

    &:hover {
			transform: scale(1.05);
    }
  }
}
