.profile-container {
  width: 50%;
  padding: 20px;
  border: 2px solid $cYellow;
  border-radius: 10px;

  .email-sub, 
	.premium-sub {
    margin-bottom: 6px;
    color: $cGray;
		font-family: "Ubuntu", sans-serif;
		font-size: 1.6rem;
		font-weight: 700;
  }

	.email-user {
		margin-bottom: 24px;
    color: $cGray;
		font-family: "Ubuntu", sans-serif;
		font-size: 1.6rem;
		font-weight: 400;
	}

	.premium-true {
    color: $cGreen;
		font-family: "Ubuntu", sans-serif;
		font-size: 1.8rem;
		font-weight: 700;
	}

	.premium-false {
		color: $cRed;
		font-family: "Ubuntu", sans-serif;
		font-size: 1.8rem;
		font-weight: 700;
	}
}