/* ----- import fonts ----- */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
/* ----- import scss partials ----- */
/* --- colours --- */
/* ------ set clean elements styling by removing default margins and paddings ----- */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* ------ set easy unit conversion for REM font size (1 REM = 10px) that still allows font scaling in browser ----- */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

/* --- common styles --- */
.flex-col-ca {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-col-cj {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-row-ca {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-row-cj {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-col-ca-cj {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-row-ca-cj {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* --- body --- */
#base-body {
  width: 100%;
  min-height: 100vh;
  background-color: #FFFFFF;
}

/* --- header --- */
#base-header {
  width: 100%;
  background-color: #211F22;
  color: #FFC929;
  min-height: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-box-shadow: 2px 2px 3px 2px #858585;
          box-shadow: 2px 2px 3px 2px #858585;
}

#base-header a {
  text-decoration: none;
}

#base-header h1 {
  color: #FFC929;
  font-family: "Ubuntu", sans-serif;
  font-size: 2.1rem;
  font-weight: 400;
}

/* --- content container --- */
#content-container {
  width: 70%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 12px;
  /*background-color: darken($cWhite, 10%); remove later */
  border-left: 1px dashed red;
  border-right: 1px dashed red;
}

/* --- media queries --- */
@media (min-width: 2400px) {
  #content-container {
    width: 40%;
  }
}

@media (min-width: 2200px) and (max-width: 2400px) {
  #content-container {
    width: 45%;
  }
}

@media (min-width: 2000px) and (max-width: 2200px) {
  #content-container {
    width: 50%;
  }
}

@media (min-width: 1800px) and (max-width: 2000px) {
  #content-container {
    width: 55%;
  }
}

@media (min-width: 1600px) and (max-width: 1800px) {
  #content-container {
    width: 60%;
  }
}

@media (min-width: 1400px) and (max-width: 1600px) {
  #content-container {
    width: 65%;
  }
}

/* --- footer --- */
#base-footer {
  width: 100%;
  background-color: #211F22;
  color: #FFC929;
  font-size: 2rem;
  min-height: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#base-footer p {
  color: #FFC929;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
}

/* --- allauth templates --- */
/* login.html */
.auth-h1 {
  margin: 16px 0px;
}

.auth-p {
  margin-bottom: 16px;
}

.auth-a {
  color: #FF4040;
  text-decoration: none;
  font-weight: 300;
}

.auth-a:hover {
  font-weight: bold;
}

.auth-p, .auth-a {
  font-size: 1.6rem;
}

.auth-form {
  width: 50%;
  padding: 20px;
  margin-top: 16px;
  border: 2px solid #211F22;
  border-radius: 10px;
}

.auth-p-sub {
  margin: 16px 0px;
}

/* Allauth form formatting */
.auth-form p {
  margin-bottom: 12px;
  color: #FFC929;
  /* text-secondary */
  font-size: 1.8rem;
  font-weight: 800;
}

.auth-form input {
  border: 3px solid #211F22;
  border-radius: 0px;
  padding: 5px;
  width: 100%;
  background-color: #f3f3f3;
}

.auth-form label:not([for="id_remember"]) {
  display: none;
}

.auth-form input::-webkit-input-placeholder {
  color: #FFC929;
}

.auth-form input:-ms-input-placeholder {
  color: #FFC929;
}

.auth-form input::-ms-input-placeholder {
  color: #FFC929;
}

.auth-form input::placeholder {
  color: #FFC929;
}

.auth-form button,
.auth-form input[type="submit"] {
  /* btn */
  display: inline-block;
  margin-left: 12px;
  font-weight: 600;
  text-transform: lowercase;
  color: #FFC929;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #211F22;
  border: 1px solid #211F22;
  padding: 0.5rem 1.5rem;
  font-size: 1.2rem;
  line-height: 1.5;
  border-radius: 10px;
  cursor: pointer;
}

.auth-form button:hover,
.auth-form input[type="submit"]:hover {
  color: #FFC929;
  border-color: #211F22;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.auth-form a {
  color: #FF4040;
  /* text-info */
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 300;
}

.auth-form a:hover {
  font-weight: bold;
}

.calendar-ad {
  width: 300px;
  height: 140px;
  border: 3px solid #211F22;
  border-radius: 10px;
  padding: 16px;
  background: #ffec95;
  margin-top: 16px;
}

.calendar-ad p {
  font-size: 1.6rem;
  font-weight: 700;
  color: #FF4040;
  margin-bottom: 16px;
  text-align: justify;
  text-justify: center;
}

.calendar-ad a {
  background-color: #211F22;
  color: #FF4040;
  padding: 6px;
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 400;
}

.calendar-ad a:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.register-ad {
  width: 300px;
  height: 140px;
  border: 3px solid #211F22;
  border-radius: 10px;
  padding: 16px;
  background: #52496e;
  margin-top: 16px;
}

.register-ad p {
  font-size: 1.6rem;
  font-weight: 700;
  color: #FFC929;
  margin-bottom: 16px;
  text-align: justify;
  text-justify: center;
}

.register-ad a {
  background-color: #211F22;
  color: #FFC929;
  padding: 6px;
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 400;
}

.register-ad a:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.page-title {
  color: #211F22;
  font-family: "Titillium+Web", sans-serif;
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 8px;
}

.calendar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.calendar-container a {
  text-decoration: none;
}

.event-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 160px;
  height: 180px;
  border-radius: 10px;
  overflow: hidden;
  padding: 0 0 6px 0;
  margin: 16px;
  background: #ececec;
  -webkit-box-shadow: 2px 2px 3px 2px #797979;
          box-shadow: 2px 2px 3px 2px #797979;
}

.event-container:hover {
  cursor: pointer;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.circuit-img-container {
  overflow: hidden;
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: red;
  padding: 0;
}

.circuit-img-container img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.circuit-info-container {
  text-align: center;
  margin: 3px 0px;
  height: 20px;
}

.circuit-info-container p {
  overflow-wrap: break-word;
  color: #211F22;
  font-family: "Titillium+Web", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  font-style: italic;
}

.inactive {
  background: #686868;
}

.inactive:hover {
  cursor: default;
  -webkit-transform: none;
          transform: none;
}

.past-event {
  color: #FF4040 !important;
}

.future-event {
  color: #A9DC76 !important;
}

.flag-trackname-container {
  margin-top: 16px;
  height: 40px;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #e9e9e9cc;
  border-radius: 10px;
  overflow: hidden;
}

.flag-trackname-container .flag-container {
  width: 15%;
  height: 100%;
}

.flag-trackname-container .flag-container img {
  height: 100%;
  width: 100%;
}

.flag-trackname-container .track-name-container {
  width: 85%;
  height: 100%;
}

.flag-trackname-container .track-name-container h3 {
  color: #211F22;
  font-family: "Titillium+Web", sans-serif;
  font-size: 2rem;
  font-weight: 700;
}

.forecast-options-container {
  margin-top: 16px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.forecast-options-container a {
  text-decoration: none;
}

.forecast-options-container .forecast-option {
  height: 160px;
  width: 160px;
  background: #363237;
  text-align: center;
  color: #FFC929;
  font-family: "Titillium+Web", sans-serif;
  font-size: 2.6rem;
  font-weight: 600;
  margin: 32px;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 3px 2px #797979;
          box-shadow: 2px 2px 3px 2px #797979;
}

.forecast-options-container .forecast-option span {
  font-size: 1.8rem;
  font-style: italic;
}

.forecast-options-container .forecast-option:hover {
  cursor: pointer;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.local-time-container {
  margin-top: 16px;
  height: 32px;
  width: 40%;
  background: #e9e9e9cc;
  border-radius: 10px;
  color: #211F22;
  font-family: "Titillium+Web", sans-serif;
  font-size: 2rem;
  font-weight: 700;
}

.local-time-container span {
  margin-left: 8px;
  font-size: 1.8rem;
  font-weight: 800;
  font-style: italic;
}

.schedule-container {
  margin-top: 24px;
  width: 50%;
  color: #211F22;
  font-family: "Inter", sans-serif;
  border-radius: 10px;
  overflow: hidden;
}

.schedule-container .schedule-title {
  width: 100%;
  height: 100%;
  font-size: 2rem;
  font-weight: 700;
  background: #bebebe;
  padding: 8px;
  border-bottom: 1px solid #211F22;
}

.schedule-container .schedule-title span {
  margin-left: 8px;
  font-size: 1.8rem;
  font-weight: 600;
  font-style: italic;
}

.schedule-container .schedule-session {
  width: 100%;
  height: 100%;
  padding: 8px;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

.schedule-container .schedule-session span {
  margin-right: 8px;
  font-size: 2.2rem;
  font-weight: 700;
}

.schedule-container .uneven-session {
  background: #f0f0f0;
}

.schedule-container .even-session {
  background: #e1e1e1;
}
/*# sourceMappingURL=base.css.map */