{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="flag-trackname-container">
    <div class="flag-container">
        <img src="/static/img/{{ event.track_id }}-flag.png" alt="{{ event.country }} flag">
    </div>
    <div class="track-name-container flex-col-ca-cj">
        <h3>{{ event.track_name }}</h3>
    </div>
</div>
<div class="local-time-container flex-row-ca-cj">Local time: <span>XX:YY</span></div>
<div class="schedule-container flex-col-ca-cj">
    <div class="schedule-title flex-row-ca-cj">Event schedule <span>(local time)</span></div>
    <div class="schedule-session uneven-session"><span>P1:</span> {{ schedule.practice1_start }}</div>
    <div class="schedule-session even-session"><span>P2:</span> {{ schedule.practice2_start }}</div>
    <div class="schedule-session uneven-session"><span>P3:</span> {{ schedule.practice3_start }}</div>
    <div class="schedule-session even-session"><span>Q:</span> {{ schedule.qualifying_start }}</div>
    <div class="schedule-session uneven-session"><span>R:</span> {{ schedule.race_start }}</div>
</div>
<div class="daily-weather-cards-container flex-row-ca-cj">
    <div class="daily-weather-card flex-col-ca-cj">
        <p class="daily-date">date</p>
        <p class="daily-mintemp">min_temp</p>
        <p class="daily-maxtemp">max_temp</p>
        <p class="daily-precip">precipitation</p>
        <p class="daily-rain">chance_of_rain</p>
    </div>
    <div class="daily-weather-card flex-col-ca-cj">
        <p class="daily-date">day 1</p>
        <p class="daily-mintemp">5°C</p>
        <p class="daily-maxtemp">12°C</p>
        <p class="daily-precip">0.7mm</p>
        <p class="daily-rain">86%</p>
    </div>
    <div class="daily-weather-card flex-col-ca-cj">
        <p class="daily-date">day 2</p>
        <p class="daily-mintemp">4°C</p>
        <p class="daily-maxtemp">9°C</p>
        <p class="daily-precip">0mm</p>
        <p class="daily-rain">0%</p>
    </div>
    <div class="daily-weather-card flex-col-ca-cj">
        <p class="daily-date">day 3</p>
        <p class="daily-mintemp">6°C</p>
        <p class="daily-maxtemp">13°C</p>
        <p class="daily-precip">0.3mm</p>
        <p class="daily-rain">17%</p>
    </div>
    <div class="daily-weather-card flex-col-ca-cj">
        <p class="daily-date">day 4</p>
        <p class="daily-mintemp">8°C</p>
        <p class="daily-maxtemp">15°C</p>
        <p class="daily-precip">1.1mm</p>
        <p class="daily-rain">67%</p>
    </div>
    <div class="daily-weather-card flex-col-ca-cj">
        <p class="daily-date">day 5</p>
        <p class="daily-mintemp">8°C</p>
        <p class="daily-maxtemp">16°C</p>
        <p class="daily-precip">2.4mm</p>
        <p class="daily-rain">100%</p>
    </div>
</div>
{% endblock %}