{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="flag-trackname-container">
    <div class="flag-container">
        <img src="/static/img/{{ event.track_id }}-flag.png" alt="{{ event.country }} flag">
    </div>
    <div class="track-name-container flex-col-ca-cj">
        <h3>{{ event.track_name }}</h3>
    </div>
</div>
<div class="local-time-container flex-row-ca-cj">Local time: <span>XX:YY</span></div>
<div class="schedule-container flex-col-ca-cj">
    <div class="schedule-title flex-row-ca-cj">Event schedule <span>(local time)</span></div>
    <div class="schedule-session uneven-session"><span>P1:</span> {{ schedule.practice1_start }}</div>
    <div class="schedule-session even-session"><span>P2:</span> {{ schedule.practice2_start }}</div>
    <div class="schedule-session uneven-session"><span>P3:</span> {{ schedule.practice3_start }}</div>
    <div class="schedule-session even-session"><span>Q:</span> {{ schedule.qualifying_start }}</div>
    <div class="schedule-session uneven-session"><span>R:</span> {{ schedule.race_start }}</div>
</div>
{% endblock %}