{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    {% block meta %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}

    {% block corecss %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    <title>Error page</title>
</head>

<body>

    <div class="error-container flex-col-ca-cj">
        <h1 class="error-title">Error 404</h1>
        <p class="error-p">Page or file not found</p>
        <a href="{% url 'home' %}" class="error-a">Back to home page</a>
    </div>

</body>

</html>