/* --- footer --- */

#base-footer {
  width: 100%;
  background-color: $cGray;
  color: $cYellow;
  font-size: 1.8rem;
  min-height: 50px;
  justify-content: center;

  p {
    color: $cYellow;
    font-family: "Ubuntu", sans-serif;
    font-size: 1.8rem;
    font-weight: 300;

    a {
      font-size: 1.6rem;
      font-style: italic;
      color: $cRed;
      text-decoration: none;
    }
  }
}

/* --- footer media queries --- */

@media (max-width: 561px) {
  #base-footer {
    p {
      font-size: 1.5rem;

      a {
        font-size: 1.4rem;
      }
    }
  }
}

@media (max-width: 377px) {
  #base-footer {
    min-height: 44px;

    p {
      font-size: 1.3rem;

      a {
        font-size: 1.2rem;
      }
    }
  }
}

@media (max-width: 321px) {
  #base-footer {
    min-height: 38px;

    p {
      font-size: 1.2rem;

      a {
        font-size: 1.1rem;
      }
    }
  }
}
